header{
  background-image: url("./images/bg/h_img.jpg");
  background-position: center;
  background-size: cover;
  height: 500PX;
}
.one{
  padding-top: 110px;
  text-align: center!important;
  color: aliceblue;
}

/* .logo{
  padding-left: 540px;

}
.motto{
  padding-left: 400px;
  color:aliceblue
}
.welcome{
  padding-left: 90px;
}
.paragraph1{
  padding-left: 355px;
  color:aliceblue;
  font-size:12px
}
.mouse{
  padding-left: 570px;
} */
.section2{
  text-align:center!important;
  padding-top: 25px;
}
.background2{
  background-image: url("./images/bg/s_image.jpg");
  background-size: cover;
  height: 300px;
}
.paragraph2{
  text-align:center!important;
  color: aliceblue;
  padding-top: 100px;
}

.contacts{
  background-image: url("./images/bg/c_image.jpg");
  background-position: center;
  background-size: cover;
  height: 450px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}
.footer{
  padding-left: 150px;
}
.paragraphLast{
  text-align:center!important;
  padding-top: 20px;
}
#design{
  text-align:center !important;
  display:none;
}

#development{
  display:none;
  text-align:center!important;
}
#product-management{
  display:none;
  text-align: center!important;
}
.black-panther{
  display:none;
}
.image1{
  display: block;
  width: 200px;
  height: 200px;
}
.ussd{
  display:none;
}
#short-code{
  display:none;
}
#bulk-sms{
  display:none;
}
#website-development{
  display:none;
}
#payment-solution{
  display:none;
}
#api{
  display:none;
}
#whatsapp-solution{
  display:none;
}
.style{
  padding-left: 70px;
}
button{
  margin-left: 200px;
}