header{
  background-image: url("./images/bg/h_img.jpg");
  background-position: center;
  background-size: cover;
  height: 500PX;
}
.one{
  padding-top: 110px
}
.logo{
  padding-left: 540px;

}
.motto{
  padding-left: 400px;
  color:aliceblue
}
.welcome{
  padding-left: 90px;
}
.paragraph1{
  padding-left: 355px;
  color:aliceblue;
  font-size:12px
}
.mouse{
  padding-left: 570px;
}
.section2{
  text-align:center!important;
  padding-top: 25px;
}
.background2{
  background-image: url("./images/bg/s_image.jpg");
  background-size: cover;
  height: 300px;
}
.paragraph2{
  text-align:center!important;
  color: aliceblue;
  padding-top: 100px;
}
#services{
  padding-left: 110px;
}
